.mainNavigation {
    position: inherit;
	width: 100%;
	height: 4em;  
    padding: .5em 3% .5em 3%;
    background: #f1f1f1;
}
.mainNavigation .title a{
    text-decoration: none;
    color: #555;
}
main{
    position: relative;
    background: #ffffff;
    width: 50%;
    margin: 1em auto;
}
.container{
    margin:10vh 0 20vh 0;
    background: #f1f1f1;
    padding: 2%;
    width: 100%;
    text-align: center;
}
.container textarea{
    resize: none;
}
.container h2{
    text-transform: uppercase;
    margin: 1em;
    color: rgb(151, 151, 151);
}
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
    color: #555;
}
.form-row > input,textarea {
    flex: 2;
    padding: 11px;
    border: none;
    background: #ffffff;
}
.buttons{
    padding: .5em;
    text-align: right;
    
}
.buttons button{
    margin-left: .5em;
}
.login-container{
    display: none;
}

.register-container{
    display: none;
}


@media screen and (max-width: 900px) {
    main{
        width: 70%;
    }
    .mainNavigation {
        position: relative;
        padding: 0;
        height: auto;
        z-index: 0;
    }

    .logoContainer{
        float: none;
		height: 4em;
		width: 4em;
		margin: 0 auto;
    }

    .logoContainer img{
        height: 100%;
        width: 64px;
    }

    .mainNavigation .title{
        float: none;
        color: #555;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
    }

    .BtnNavigation{
        float: none;
        background: #cac8c8;
    }

    
    .BtnNavigation img{
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
        padding-top: 5px;
        margin-right: 0em;
        text-align: center;
    }

    .BtnNavigation img:hover{
        padding-top: 5px;
        padding-left: 1em;
    }

    .BtnNavigation ul{
        list-style: none;
        float: none;
        height: 100%;
        text-align: center;
    }

    .BtnNavigation li {
        display: block;
        margin-bottom: 0.3em;
    }

    .BtnNavigation button{
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    main{
        width: 90%;
    }
    .mainNavigation {
        position: relative;
        padding: 0;
        height: auto;
        z-index: 0;
    }

    .form-row {
        display: flex;
        justify-content: flex-end;
        padding: .5em;
        flex-direction: column;
    }

    .buttons button{
        padding: 6px 8px;
    }
}